body{
    background-color: #0d64e7;
}
#main{
    height:746px;
    width: 100%;
    background-color:crimson;
    display: flex;
    flex-direction: row;
}
#left-box{
    height: fit-content;
    width: fit-content;
    background-color: aqua;
    padding: 40px;
    margin-top: 128px;
    margin-left: 193px;
}
#Fb{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: 500;
    margin-top: -12px;
    margin-left: 29px;
}
img {
    height: 106px;
    width: 301.06px;
}
#words{
    height: 103px;
    width: 449.92px;
    color: #1c1e21;
    font-size: 13px;
    width: auto;
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
}
#big-right-box {
    margin-top: 125px;
    margin-left: 65px;
    width: fit-content;
    height: fit-content;
    background-color: cornflowerblue;
    align-items: center;
    padding: 2px;
}
#reg-box {
    height: 350px;
    width: 400px;
    background: #fff;
}
.box {
  display: flex;
  flex-direction: column;
}
.button{
    font-size: 20px;
	height: 50px;
	line-height: 50px;
	border-radius: 5px;
	margin-bottom: 20px;
	text-transform: capitalize;

}
#vhod-button {
    background-color: #1877f2;
    color: white;
}
#zab-button{
    background-color: white;
    color: #1877f2;
}
#acc-button{
    background-color:#4cd137;
    color: white;
}